<!DOCTYPE html>
    <html lang="ru">
        <head>
            <title>do Buli Mon chef</title>
            <link rel="stylesheet" href="style.css">


            <script src="script.js"></script>
        </head>
        <body>
            <header>
                <div class="toper">
                    <a class="go_to_authorization" href="authorization.html">Войти</a> или
                    <a class="go_to_registration" href="registration.html">Зарегистрироваться</a>
                </div>
                <div class="botter">
                    <div id="botter">
                        <div class="botter_logo">
                            <a href="main.html" class="">
                                <img src="images/log.png" alt="" height="150px">
                            </a>
                        </div>

                        <div class="botter_text">
                            <div>Рыболовный
                                <br>магазин
                            </div>
                        </div>

                        <div class="botter_adres">
                            <div >г. Казань, ул. Баки Урманче
                                <br>Пн-вс: 08.00-20.00
                            </div>
                        </div>
                        <div class="botter_search">
                            <div class="search_box">
                                <input type="text" name="" class="search-txt" placeholder="Введите для поиска"/>
                                <a class="search-btn" href="tovars.html"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu" align="center">
                    <ul>
                        <li><a href="main.html">Главная</a></li>
                        <li><a href="tovars.html" id="tov_button">Товары</a>
                            <ul class="tov_ul">
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">3</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">Почему мы?</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
            </header>

            <main>
                <div class="authorization">
                    <div class="head_authorization">
                        <p>Авторизация</p>
                    </div>
                    <div class="body_authorization">
                        <div class="input_authorization">
                            <div class="input_authorization_email">
                                <input id="input_email" name="email" type="text" placeholder="E-mail"  size="20"/>
                            </div>
                            <div class="input_authorization_pas">
                                <input id="input_password" type="password" placeholder="Пароль" size="20"/>
                            </div>
                        </div>
                        <div class="login-submit">
                            <button type="submit" class="login-button" onClick="ValidPas();">Войти</button>
                        </div>
                    </div>
                    <div class="fotter_authorization">
                        <div class="forgot_pas">
                            <a href="">Забыли пароль?</a>
                        </div>
                        <div class="registration_page">
                            <a href="registration.html">Регистрация</a>
                        </div>

                    </div>
                </div>


            </main>

            <footer>
                © Акбулатов Марсель
                <br>По вопросам рекламы: akbulatov03@mail.ru
            </footer>
        </body>
    </html>