<!DOCTYPE html>
    <html lang="ru">
        <head>
            <title>do Buli Mon chef</title>
            <link rel="stylesheet" href="style.css">
            <script src="script.js"></script>
        </head>
        <body>
            <header>
                <div class="toper">Вход</div>
                <div class="botter">
                    <div class="botter_title">do Mon</div>
                    <!--<div class="search_box">
                        <form class="search_form" action="" method="get">
                            <input class="search_input" name="s" placeholder="Искать здесь..." type="search" >
                            <button class="search_button" type="submit"></button>
                        </form>
                    </div>-->
                </div>
                <div class="menu" align="center">
                    <ul>
                        <li><a href="main.html">Главная</a></li>
                        <li><a href="" id="tov_button">Товары</a>
                            <ul class="tov_ul">
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">3</a></li>
                            </ul>
                        </li>
                        <li><a href="test.html">Почему мы</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
            </header>

            <main>
                <div class="slideshow"> <!-- Доб авить стрелки + авто переход и плавность при нажатии -->
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <div id="slides">
                        <div id="overflow">
                            <div class="slide_image">
                                <article><img src="images/slide3.jpg"></article>
                                <article><img src="images/slide2.jpg"></article>
                                <article><img src="images/slide1.jpg"></article>
                                <article><img src="images/slide4.jpg"></article>

                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                    </div>
                </div>

                <div class="box_cat">
                    <div class="box_heading">Категории</div>

                    <div class="box_content">
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/rod.png'>
                                <div class='card_title'>Удочки</div>
                            </a>
                        </div>

                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/rod.png'>
                                <div class='card_title'>Удочки</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/rod.png'>
                                <div class='card_title'>Удочки</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src="images/kuritsa.gif" alt="я джифка">
                                <div class='card_title'>кУрочка</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/rod.png'>
                                <div class='card_title'>Удочки</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/rod.png'>
                                <div class='card_title'>Удочки</div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="adv">Здесь могла быть ваша реклама.</div>

            </main>

            <footer>
                © Акбулатов Марсель
                <br>По вопросам рекламы: akbulatov03@mail.ru
            </footer>
        </body>
    </html>