<!DOCTYPE html>
    <html lang="ru">
        <head>
            <title>do Buli Mon chef</title>
            <link rel="stylesheet" href="style.css">
            <script src="script.js"></script>
        </head>
        <body>
            <header>
                <div class="toper">
                    <a class="go_to_authorization" href="authorization.html">Войти</a> или
                    <a class="go_to_registration" href="registration.html">Зарегистрироваться</a>
                </div>
                <div class="botter">
                    <div id="botter">
                        <div class="botter_logo">
                            <a href="main.html" class="">
                                <img src="images/log.png" alt="" height="150px">
                            </a>
                        </div>

                        <div class="botter_text">
                            <div>Рыболовный
                                <br>магазин
                            </div>
                        </div>

                        <div class="botter_adres">
                            <div >г. Казань, ул. Баки Урманче
                                <br>Пн-вс: 08.00-20.00
                            </div>
                        </div>

                        <div class="botter_search">
                            <div class="search_box">
                                <input type="text" name="" class="search-txt" placeholder="Введите для поиска"/>
                                <a class="search-btn" href="tovars.html"></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="menu" align="center">
                    <ul>
                        <li><a href="main.html" style="color: white; background-color:#376e6f; border-radius:15px; box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 10px 18px rgba(0,0,0,0.3);">Главная</a></li>
                        <li><a href="tovars.html" id="tov_button">Товары</a>
                            <ul class="tov_ul">
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">3</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">Почему мы?</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
            </header>

            <main>
                <div class="slideshow"> <!-- Доб авить стрелки + авто переход и плавность при нажатии -->
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <div id="slides">
                        <div id="overflow">
                            <div class="slide_image">
                                <article><img src="images/slide7.jpg"></article>
                                <article><img src="images/slide5.jpg"></article>
                                <article><img src="images/slide6.jpg"></article>
                                <article><img src="images/slide2.jpg"></article>

                            </div>
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                    </div>
                </div>

                <div class="box_cat">
                    <div class="box_heading">Категории</div>


                    <div class="box_content">
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/удочка.jpeg'>
                                <div class='card_title'>Удочки</div>
                            </a>
                        </div>

                        <div class="category_card">
                            <a href="test.html" style="text-decoration: none;">
                                <img class='category_image' src='images/удилища.png'>
                                <div class='card_title'>Удилища</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/катушка.jpeg'>
                                <div class='card_title'>Катушки</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src="images/снасти.jpg" alt="я джифка">
                                <div class='card_title'>Снасти</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/лодки.jpg'>
                                <div class='card_title'>Лодки</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/одежда.png'>
                                <div class='card_title' style="">Одежда</div>
                            </a>
                        </div>
                        <div class="category_card">
                            <a href="" style="text-decoration: none;">
                                <img class='category_image' src='images/электроника.jpg'>
                                <div class='card_title' style="">Электроника</div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="adv">Здесь могла быть ваша реклама.</div>


            </main>

            <footer>
                © Акбулатов Марсель
                <br>По вопросам рекламы: akbulatov03@mail.ru
            </footer>
        </body>
    </html>