<!DOCTYPE html>
    <html lang="ru">
        <head>
            <title>do Buli Mon chef</title>
            <link rel="stylesheet" href="style.css">


            <script src="script.js"></script>
        </head>
        <body>
            <header>
                <div class="toper">
                    <a class="go_to_authorization" href="authorization.html">Войти</a> или
                    <a class="go_to_registration" href="registration.html">Зарегистрироваться</a>
                </div>
                <div class="botter">
                    <div id="botter">
                        <div class="botter_logo">
                            <a href="main.html" class="">
                                <img src="images/log.png" alt="" height="150px">
                            </a>
                        </div>

                        <div class="botter_text">
                            <div>Рыболовный
                                <br>магазин
                            </div>
                        </div>

                        <div class="botter_adres">
                            <div >г. Казань, ул. Баки Урманче
                                <br>Пн-вс: 08.00-20.00
                            </div>
                        </div>
                        <div class="botter_search">
                            <div class="search_box">
                                <input type="text" name="" class="search-txt" placeholder="Type to search"/>
                                <a class="search-btn" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu" align="center">
                    <ul>
                        <li><a href="main.html">Главная</a></li>
                        <li><a href="tovars.html" id="tov_button">Товары</a>
                            <ul class="tov_ul">
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">3</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">Почему мы?</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>
            </header>

            <main>
                <div class="registration">
                    <div class="head_registration">
                        <p>Регистрация</p>
                    </div>
                    <div class="body_registration">
                        <div class="input_registration">
                            <div class="input_registration_pas">
                                <input id="input_name_reg" type="text" placeholder="Ваше имя" size="20"/>
                            </div>
                            <div class="input_registration_email">
                                <input id="input_email_reg" name="email" type="text" placeholder="E-mail"  size="20"/>
                            </div>
                            <div class="input_registration_pas">
                                <input id="input_password_reg" type="password" placeholder="Пароль" size="20"/>
                            </div>

                            <div class="input_registration_pas_2">
                                <input id="input_password_reg_2" type="password" placeholder="Повторите пароль" size="20"/>
                            </div>
                        </div>
                        <div class="login-submit_reg">
                            <button type="submit" class="login-button_reg" onClick="Registration();">Зарегистрироваться</button>
                        </div>
                    </div>
                    <div class="fotter_registration">
                        <div class="enter_authorization">
                            <a href="authorization.html">Войти в существующий аккаунт</a>
                        </div>

                    </div>
                </div>

                <div class="adv">Здесь могла быть ваша реклама.</div>



            </main>

            <footer>
                © Акбулатов Марсель
                <br>По вопросам рекламы: akbulatov03@mail.ru
            </footer>
        </body>
    </html>