<!DOCTYPE html>
    <html lang="ru">
        <head>
            <title>do Buli Mon chef</title>
            <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <header>
                <div class="toper">Вход</div>
                <div class="botter">do Mon
                </div>

                <div class="menu" align="center">
                    <ul>
                        <li><a href="main.html">Главная</a></li>
                        <li><a href="" class="tov_button">Товары</a>
                            <ul class="tov_ul">
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">3</a></li>
                            </ul>
                        </li>
                        <li><a href="test.html">Почему мы</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </div>

            </header>

            <main>
            
                <div>
                    В разработке...
                    <img src="images/loading.gif" alt="">
                </div>    
                
            </main>

            <footer>
                © Акбулатов Марсель
                <br>По вопросам рекламы: akbulatov03@mail.ru
            </footer>
        </body>
    </html>